
@media (min-width: 760px) {
    header {
        padding: 15px 30px;
    }


    nav {
        background-color: transparent; 
    }

    .navigation {
        display: flex ; 
        justify-content: flex-end;
        max-width: none; 
        list-style: none;
    }

    .navigation li {
        display: block;
        margin-left: 20px;
    }

    .navigation a {
        color: white; 
        text-decoration: none;
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        font-weight: 600;
        transition: 0.3s;
    }

    .navigation a:hover,
    .navigation a:active {
        color: white;
        background-color: black;
        border-radius: 5px; 
    }

    .temples-gallery {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-items: center;
        align-items: start;
    }

    figure {
        margin: 0;
        width: 100%;
        max-width: 300px;
    }

    figure img {
        width: 300px; 
        height: 200px;
        object-fit: cover;
        display: block;
    }
}

@media (min-width: 1200px) {
    .temples-gallery {
        grid-template-columns: repeat(3, 1fr); 
    }

    .navigation a {
        font-size: 1.3rem; 
    }
}